-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: estate
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(255) NOT NULL,
  `module` varchar(100) DEFAULT NULL,
  `details` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `fk_audit_logs_estate` (`estate_id`),
  CONSTRAINT `audit_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_audit_logs_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `building_floor_types`
--

DROP TABLE IF EXISTS `building_floor_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `building_floor_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `building_floor_types`
--

LOCK TABLES `building_floor_types` WRITE;
/*!40000 ALTER TABLE `building_floor_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `building_floor_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `building_statuses`
--

DROP TABLE IF EXISTS `building_statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `building_statuses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `building_statuses`
--

LOCK TABLES `building_statuses` WRITE;
/*!40000 ALTER TABLE `building_statuses` DISABLE KEYS */;
INSERT INTO `building_statuses` VALUES (1,'Active'),(4,'Archived'),(3,'Maintenance'),(2,'Under Construction');
/*!40000 ALTER TABLE `building_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `building_types`
--

DROP TABLE IF EXISTS `building_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `building_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `building_types`
--

LOCK TABLES `building_types` WRITE;
/*!40000 ALTER TABLE `building_types` DISABLE KEYS */;
INSERT INTO `building_types` VALUES (1,'Apartment'),(5,'Bungalow'),(3,'Commercial'),(4,'Duplex'),(2,'Villa');
/*!40000 ALTER TABLE `building_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `buildings`
--

DROP TABLE IF EXISTS `buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `buildings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `street_id` int(11) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `type` varchar(50) NOT NULL,
  `total_floors` varchar(50) NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('active','archived') DEFAULT 'active',
  `custom_id` varchar(50) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `registration_date` date DEFAULT NULL,
  `estate_id` int(11) DEFAULT 1,
  `property_number` varchar(50) DEFAULT NULL,
  `category` enum('Residential','Commercial') DEFAULT 'Residential',
  `commercial_data` longtext DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_id` (`custom_id`),
  KEY `street_id` (`street_id`),
  KEY `fk_buildings_estate` (`estate_id`),
  CONSTRAINT `buildings_ibfk_1` FOREIGN KEY (`street_id`) REFERENCES `streets` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_buildings_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buildings`
--

LOCK TABLES `buildings` WRITE;
/*!40000 ALTER TABLE `buildings` DISABLE KEYS */;
INSERT INTO `buildings` VALUES (1,1,'Sunrise Apartments','Apartment','1','2026-03-30 11:36:27','active','BLD-00001',NULL,NULL,1,NULL,'Residential',NULL),(2,1,'Sunset Plaza','Apartment','1','2026-03-30 11:36:27','active','BLD-00002',NULL,NULL,1,NULL,'Residential',NULL);
/*!40000 ALTER TABLE `buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial_field_definitions`
--

DROP TABLE IF EXISTS `commercial_field_definitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commercial_field_definitions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `estate_id` int(11) DEFAULT 1,
  `field_label` varchar(100) NOT NULL,
  `field_type` enum('text','number','dropdown','date') DEFAULT 'text',
  `field_options` text DEFAULT NULL,
  `is_required` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `estate_id` (`estate_id`),
  CONSTRAINT `commercial_field_definitions_ibfk_1` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial_field_definitions`
--

LOCK TABLES `commercial_field_definitions` WRITE;
/*!40000 ALTER TABLE `commercial_field_definitions` DISABLE KEYS */;
INSERT INTO `commercial_field_definitions` VALUES (1,1,'Tax ID','number','',1,'2026-04-13 13:24:54'),(2,1,'VAT Number','number','',0,'2026-04-13 14:00:02');
/*!40000 ALTER TABLE `commercial_field_definitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `community_chat`
--

DROP TABLE IF EXISTS `community_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `community_chat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `fk_community_chat_estate` (`estate_id`),
  CONSTRAINT `community_chat_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_community_chat_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `community_chat`
--

LOCK TABLES `community_chat` WRITE;
/*!40000 ALTER TABLE `community_chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `community_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `domestic_staff_roles`
--

DROP TABLE IF EXISTS `domestic_staff_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `domestic_staff_roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `domestic_staff_roles`
--

LOCK TABLES `domestic_staff_roles` WRITE;
/*!40000 ALTER TABLE `domestic_staff_roles` DISABLE KEYS */;
INSERT INTO `domestic_staff_roles` VALUES (2,'Cook'),(1,'Driver'),(5,'Gardner'),(3,'Maid'),(4,'Nanny'),(6,'Security');
/*!40000 ALTER TABLE `domestic_staff_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `domestic_staff_status`
--

DROP TABLE IF EXISTS `domestic_staff_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `domestic_staff_status` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `domestic_staff_status`
--

LOCK TABLES `domestic_staff_status` WRITE;
/*!40000 ALTER TABLE `domestic_staff_status` DISABLE KEYS */;
INSERT INTO `domestic_staff_status` VALUES (2,'Daily'),(1,'Live-in'),(3,'Temporary'),(4,'Weekend Only');
/*!40000 ALTER TABLE `domestic_staff_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estate_announcements`
--

DROP TABLE IF EXISTS `estate_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estate_announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `estate_id` int(11) DEFAULT 1,
  `title` varchar(150) NOT NULL,
  `content` text NOT NULL,
  `target_audience` enum('all','owners','tenants') DEFAULT 'all',
  `priority` enum('normal','important','urgent') DEFAULT 'normal',
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_estate_announcements_estate` (`estate_id`),
  CONSTRAINT `fk_estate_announcements_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estate_announcements`
--

LOCK TABLES `estate_announcements` WRITE;
/*!40000 ALTER TABLE `estate_announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `estate_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estate_charges`
--

DROP TABLE IF EXISTS `estate_charges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estate_charges` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `estate_id` int(11) DEFAULT 1,
  `name` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `frequency` enum('Monthly','Quarterly','Yearly','One-Time') DEFAULT 'Monthly',
  `due_day` int(11) DEFAULT 1,
  `status` enum('Active','Inactive') DEFAULT 'Active',
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_estate_charges_estate` (`estate_id`),
  CONSTRAINT `fk_estate_charges_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estate_charges`
--

LOCK TABLES `estate_charges` WRITE;
/*!40000 ALTER TABLE `estate_charges` DISABLE KEYS */;
INSERT INTO `estate_charges` VALUES (1,1,'Monthly Sanitation Bill','Enviromental sanitation',20000.00,'Monthly',1,'Active',1,'2026-09-05 15:40:29');
/*!40000 ALTER TABLE `estate_charges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estate_settings`
--

DROP TABLE IF EXISTS `estate_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estate_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `estate_name` varchar(255) DEFAULT 'Estate Management System',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estate_settings`
--

LOCK TABLES `estate_settings` WRITE;
/*!40000 ALTER TABLE `estate_settings` DISABLE KEYS */;
INSERT INTO `estate_settings` VALUES (1,'Estate Management System');
/*!40000 ALTER TABLE `estate_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estate_staff`
--

DROP TABLE IF EXISTS `estate_staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estate_staff` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `custom_id` varchar(50) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  `role_id` int(11) DEFAULT NULL,
  `role` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `registration_date` date DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_id` (`custom_id`),
  KEY `user_id` (`user_id`),
  KEY `fk_estate_staff_estate` (`estate_id`),
  CONSTRAINT `estate_staff_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_estate_staff_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estate_staff`
--

LOCK TABLES `estate_staff` WRITE;
/*!40000 ALTER TABLE `estate_staff` DISABLE KEYS */;
INSERT INTO `estate_staff` VALUES (1,'STF-00005',5,5,'Security Guard',NULL,'2026-03-30',NULL,'active','2026-03-30 11:36:28',1),(2,'STF-00006',6,NULL,'Facility Manager',NULL,'2026-03-30',NULL,'active','2026-03-30 11:36:28',1),(3,'EST-00003',12,5,'Security Officer','09066832352','2026-09-05','../uploads/1788628758_134246611404313579.jpg','active','2026-09-05 17:19:18',1);
/*!40000 ALTER TABLE `estate_staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estate_staff_roles`
--

DROP TABLE IF EXISTS `estate_staff_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estate_staff_roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estate_staff_roles`
--

LOCK TABLES `estate_staff_roles` WRITE;
/*!40000 ALTER TABLE `estate_staff_roles` DISABLE KEYS */;
INSERT INTO `estate_staff_roles` VALUES (3,'Accountant'),(5,'Admin'),(7,'Facility Manager'),(4,'Maintenance'),(1,'Manager'),(2,'Security Guard');
/*!40000 ALTER TABLE `estate_staff_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estates`
--

DROP TABLE IF EXISTS `estates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `domain_prefix` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `domain_prefix` (`domain_prefix`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estates`
--

LOCK TABLES `estates` WRITE;
/*!40000 ALTER TABLE `estates` DISABLE KEYS */;
INSERT INTO `estates` VALUES (1,'Main Estate','main','2026-04-10 14:52:40');
/*!40000 ALTER TABLE `estates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flat_statuses`
--

DROP TABLE IF EXISTS `flat_statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flat_statuses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flat_statuses`
--

LOCK TABLES `flat_statuses` WRITE;
/*!40000 ALTER TABLE `flat_statuses` DISABLE KEYS */;
INSERT INTO `flat_statuses` VALUES (4,'Archived'),(3,'Maintenance'),(1,'Occupied'),(2,'Vacant');
/*!40000 ALTER TABLE `flat_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flat_types`
--

DROP TABLE IF EXISTS `flat_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flat_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flat_types`
--

LOCK TABLES `flat_types` WRITE;
/*!40000 ALTER TABLE `flat_types` DISABLE KEYS */;
INSERT INTO `flat_types` VALUES (1,'1BHK'),(2,'2BHK'),(3,'3BHK'),(4,'4BHK'),(5,'Penthouse'),(6,'Studio');
/*!40000 ALTER TABLE `flat_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flats`
--

DROP TABLE IF EXISTS `flats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flats` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `building_id` int(11) NOT NULL,
  `number` varchar(50) NOT NULL,
  `floor` varchar(50) NOT NULL,
  `type` varchar(50) DEFAULT '2BHK',
  `status` enum('occupied','vacant','maintenance') DEFAULT 'vacant',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `current_use` varchar(100) DEFAULT NULL,
  `original_use` varchar(100) DEFAULT NULL,
  `custom_id` varchar(50) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `registration_date` date DEFAULT NULL,
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_id` (`custom_id`),
  KEY `building_id` (`building_id`),
  KEY `fk_flats_estate` (`estate_id`),
  CONSTRAINT `fk_flats_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `flats_ibfk_1` FOREIGN KEY (`building_id`) REFERENCES `buildings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flats`
--

LOCK TABLES `flats` WRITE;
/*!40000 ALTER TABLE `flats` DISABLE KEYS */;
INSERT INTO `flats` VALUES (1,1,'101','1','2BHK','vacant','2026-03-30 11:36:27',NULL,NULL,'FLT-00001',NULL,NULL,1),(2,1,'102','1','2BHK','vacant','2026-03-30 11:36:27',NULL,NULL,'FLT-00002',NULL,NULL,1),(3,1,'201','1','2BHK','vacant','2026-03-30 11:36:27',NULL,NULL,'FLT-00003',NULL,NULL,1),(4,1,'202','1','2BHK','vacant','2026-03-30 11:36:28',NULL,NULL,'FLT-00004',NULL,NULL,1);
/*!40000 ALTER TABLE `flats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `household_staff`
--

DROP TABLE IF EXISTS `household_staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `household_staff` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `flat_id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `role` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `custom_id` varchar(50) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `registration_date` date DEFAULT NULL,
  `status` varchar(50) DEFAULT 'Daily',
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_id` (`custom_id`),
  KEY `flat_id` (`flat_id`),
  KEY `fk_household_staff_estate` (`estate_id`),
  CONSTRAINT `fk_household_staff_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `household_staff_ibfk_1` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `household_staff`
--

LOCK TABLES `household_staff` WRITE;
/*!40000 ALTER TABLE `household_staff` DISABLE KEYS */;
INSERT INTO `household_staff` VALUES (1,1,'Samuel Driver','Samuel','Driver','Driver','555-9999','2026-03-30 11:36:28','DOM-8223',NULL,NULL,'Daily',1),(2,1,'Mary Cook','Mary','Cook','Cook','555-9999','2026-03-30 11:36:28','DOM-5220',NULL,NULL,'Daily',1);
/*!40000 ALTER TABLE `household_staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoice_items`
--

DROP TABLE IF EXISTS `invoice_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoice_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_id` int(11) NOT NULL,
  `charge_id` int(11) DEFAULT NULL,
  `description` varchar(255) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `invoice_id` (`invoice_id`),
  CONSTRAINT `invoice_items_ibfk_1` FOREIGN KEY (`invoice_id`) REFERENCES `invoices` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoice_items`
--

LOCK TABLES `invoice_items` WRITE;
/*!40000 ALTER TABLE `invoice_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoice_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `flat_id` int(11) DEFAULT NULL,
  `title` varchar(150) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `status` enum('draft','pending','unpaid','partially_paid','paid','overdue','cancelled') DEFAULT 'unpaid',
  `due_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `estate_id` int(11) DEFAULT 1,
  `invoice_number` varchar(50) DEFAULT NULL,
  `property_id` int(11) DEFAULT NULL,
  `charge_id` int(11) DEFAULT NULL,
  `subtotal` decimal(10,2) DEFAULT 0.00,
  `discount` decimal(10,2) DEFAULT 0.00,
  `penalty` decimal(10,2) DEFAULT 0.00,
  `amount_paid` decimal(10,2) DEFAULT 0.00,
  `balance` decimal(10,2) DEFAULT 0.00,
  `issue_date` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `flat_id` (`flat_id`),
  KEY `fk_invoices_estate` (`estate_id`),
  CONSTRAINT `fk_invoices_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `invoices_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `invoices_ibfk_2` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_requests`
--

DROP TABLE IF EXISTS `maintenance_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maintenance_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `flat_id` int(11) DEFAULT NULL,
  `title` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `priority` enum('low','medium','high','emergency') DEFAULT 'medium',
  `status` enum('open','in_progress','resolved','closed') DEFAULT 'open',
  `assigned_to` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `admin_report` text DEFAULT NULL,
  `estate_id` int(11) DEFAULT 1,
  `attended_by` int(11) DEFAULT NULL,
  `attended_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `flat_id` (`flat_id`),
  KEY `assigned_to` (`assigned_to`),
  KEY `fk_maintenance_requests_estate` (`estate_id`),
  CONSTRAINT `fk_maintenance_requests_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `maintenance_requests_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `maintenance_requests_ibfk_2` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL,
  CONSTRAINT `maintenance_requests_ibfk_3` FOREIGN KEY (`assigned_to`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_requests`
--

LOCK TABLES `maintenance_requests` WRITE;
/*!40000 ALTER TABLE `maintenance_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `estate_id` int(11) DEFAULT 1,
  `user_id` int(11) NOT NULL,
  `title` varchar(150) NOT NULL,
  `message` text NOT NULL,
  `type` varchar(50) DEFAULT 'info',
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `fk_notifications_estate` (`estate_id`),
  CONSTRAINT `fk_notifications_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `owner_properties`
--

DROP TABLE IF EXISTS `owner_properties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `owner_properties` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `owner_id` int(11) NOT NULL,
  `property_id` int(11) NOT NULL,
  `property_type` enum('building','flat') NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `owner_id` (`owner_id`),
  KEY `fk_owner_properties_estate` (`estate_id`),
  CONSTRAINT `fk_owner_properties_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `owner_properties_ibfk_1` FOREIGN KEY (`owner_id`) REFERENCES `property_owners` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `owner_properties`
--

LOCK TABLES `owner_properties` WRITE;
/*!40000 ALTER TABLE `owner_properties` DISABLE KEYS */;
INSERT INTO `owner_properties` VALUES (1,1,1,'flat','2026-04-07 09:24:46',1),(2,2,1,'building','2026-04-07 09:24:46',1);
/*!40000 ALTER TABLE `owner_properties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_methods`
--

DROP TABLE IF EXISTS `payment_methods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_methods` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `estate_id` int(11) DEFAULT 1,
  `name` varchar(100) NOT NULL,
  `code` varchar(50) NOT NULL,
  `is_system` tinyint(1) DEFAULT 0,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_methods`
--

LOCK TABLES `payment_methods` WRITE;
/*!40000 ALTER TABLE `payment_methods` DISABLE KEYS */;
INSERT INTO `payment_methods` VALUES (1,1,'Cash / Counter','cash',1,'active','2026-09-05 16:42:20',NULL),(2,1,'Bank Transfer','bank_transfer',1,'active','2026-09-05 16:42:20',NULL),(3,1,'POS Terminal','pos',1,'active','2026-09-05 16:42:20',NULL),(4,1,'Cheque','cheque',1,'active','2026-09-05 16:42:20',NULL);
/*!40000 ALTER TABLE `payment_methods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_transactions`
--

DROP TABLE IF EXISTS `payment_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `payment_id` int(11) NOT NULL,
  `gateway` varchar(50) DEFAULT 'Paystack',
  `gateway_reference` varchar(100) NOT NULL,
  `gateway_transaction_id` varchar(100) DEFAULT NULL,
  `channel` varchar(50) DEFAULT 'card',
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(10) DEFAULT 'NGN',
  `gateway_response` text DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `payment_id` (`payment_id`),
  CONSTRAINT `payment_transactions_ibfk_1` FOREIGN KEY (`payment_id`) REFERENCES `payments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_transactions`
--

LOCK TABLES `payment_transactions` WRITE;
/*!40000 ALTER TABLE `payment_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `type` varchar(50) NOT NULL,
  `status` enum('pending','paid','failed','refunded') DEFAULT 'pending',
  `transaction_date` date DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `invoice_id` int(11) DEFAULT NULL,
  `transaction_ref` varchar(100) DEFAULT NULL,
  `payment_method` varchar(50) DEFAULT 'manual',
  `estate_id` int(11) DEFAULT 1,
  `payment_reference` varchar(100) DEFAULT NULL,
  `property_id` int(11) DEFAULT NULL,
  `paid_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `fk_payments_estate` (`estate_id`),
  CONSTRAINT `fk_payments_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `module` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pets`
--

DROP TABLE IF EXISTS `pets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `flat_id` int(11) NOT NULL,
  `type` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `breed` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `custom_id` varchar(50) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `registration_date` date DEFAULT NULL,
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_id` (`custom_id`),
  KEY `flat_id` (`flat_id`),
  KEY `fk_pets_estate` (`estate_id`),
  CONSTRAINT `fk_pets_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pets_ibfk_1` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pets`
--

LOCK TABLES `pets` WRITE;
/*!40000 ALTER TABLE `pets` DISABLE KEYS */;
/*!40000 ALTER TABLE `pets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_acquisition_types`
--

DROP TABLE IF EXISTS `property_acquisition_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `property_acquisition_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_acquisition_types`
--

LOCK TABLES `property_acquisition_types` WRITE;
/*!40000 ALTER TABLE `property_acquisition_types` DISABLE KEYS */;
INSERT INTO `property_acquisition_types` VALUES (3,'Gift'),(2,'Inheritance'),(4,'Lease'),(1,'Purchase');
/*!40000 ALTER TABLE `property_acquisition_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_history`
--

DROP TABLE IF EXISTS `property_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `property_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `property_id` int(11) NOT NULL,
  `property_type` enum('street','building','flat') NOT NULL,
  `action_type` enum('Registered','Converted','Renamed','Sold','Ownership Changed','Archived','Restored') NOT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  `change_date` datetime DEFAULT current_timestamp(),
  `changed_by` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `changed_by` (`changed_by`),
  KEY `fk_property_history_estate` (`estate_id`),
  CONSTRAINT `fk_property_history_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `property_history_ibfk_1` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_history`
--

LOCK TABLES `property_history` WRITE;
/*!40000 ALTER TABLE `property_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `property_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_owners`
--

DROP TABLE IF EXISTS `property_owners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `property_owners` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `custom_id` varchar(50) DEFAULT NULL,
  `full_name` varchar(150) NOT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `id_type` varchar(50) DEFAULT NULL,
  `ownership_type` varchar(100) DEFAULT 'Individual',
  `owner_type` enum('building','flat') NOT NULL DEFAULT 'building',
  `registration_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_id` (`custom_id`),
  KEY `fk_property_owners_estate` (`estate_id`),
  CONSTRAINT `fk_property_owners_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_owners`
--

LOCK TABLES `property_owners` WRITE;
/*!40000 ALTER TABLE `property_owners` DISABLE KEYS */;
INSERT INTO `property_owners` VALUES (1,'OWN-3122','Alice Proprietor','Alice','Proprietor','555-2222','alice@owner.com',NULL,'Individual','flat','2026-04-07','2026-04-07 09:24:46',1),(2,'OWN-9422','Zion Realty Ltd','Zion','Realty Ltd','555-3333','contact@zionrealty.com',NULL,'Company','building','2026-04-07','2026-04-07 09:24:46',1);
/*!40000 ALTER TABLE `property_owners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_ownership`
--

DROP TABLE IF EXISTS `property_ownership`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `property_ownership` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `property_id` int(11) NOT NULL,
  `property_type` enum('building','flat') NOT NULL,
  `owner_id` int(11) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `acquisition_type` varchar(100) DEFAULT 'Purchase',
  `registration_date` datetime DEFAULT current_timestamp(),
  `supporting_docs` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `owner_id` (`owner_id`),
  KEY `fk_property_ownership_estate` (`estate_id`),
  CONSTRAINT `fk_property_ownership_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `property_ownership_ibfk_1` FOREIGN KEY (`owner_id`) REFERENCES `property_owners` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_ownership`
--

LOCK TABLES `property_ownership` WRITE;
/*!40000 ALTER TABLE `property_ownership` DISABLE KEYS */;
/*!40000 ALTER TABLE `property_ownership` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_ownership_types`
--

DROP TABLE IF EXISTS `property_ownership_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `property_ownership_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_ownership_types`
--

LOCK TABLES `property_ownership_types` WRITE;
/*!40000 ALTER TABLE `property_ownership_types` DISABLE KEYS */;
INSERT INTO `property_ownership_types` VALUES (2,'Company'),(3,'Family Trust'),(1,'Individual');
/*!40000 ALTER TABLE `property_ownership_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receipts`
--

DROP TABLE IF EXISTS `receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `receipts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `estate_id` int(11) DEFAULT 1,
  `receipt_number` varchar(50) NOT NULL,
  `payment_id` int(11) NOT NULL,
  `resident_id` int(11) NOT NULL,
  `property_id` int(11) DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `issued_at` datetime DEFAULT current_timestamp(),
  `receipt_data` longtext DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `issued_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `receipt_number` (`receipt_number`),
  KEY `payment_id` (`payment_id`),
  KEY `fk_receipts_estate` (`estate_id`),
  CONSTRAINT `fk_receipts_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `receipts_ibfk_1` FOREIGN KEY (`payment_id`) REFERENCES `payments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receipts`
--

LOCK TABLES `receipts` WRITE;
/*!40000 ALTER TABLE `receipts` DISABLE KEYS */;
INSERT INTO `receipts` VALUES (1,1,'REC-260905-720',3,3,NULL,20000.00,'2026-09-05 17:02:41',NULL,'2026-09-05 16:02:41',1),(2,1,'REC-260905-400',4,11,NULL,20000.00,'2026-09-05 17:13:19',NULL,'2026-09-05 16:13:19',NULL),(3,1,'REC-260905-999',5,4,NULL,20000.00,'2026-09-05 17:58:38',NULL,'2026-09-05 16:58:38',NULL),(4,1,'REC-260905-447',6,11,NULL,20000.00,'2026-09-05 18:01:47',NULL,'2026-09-05 17:01:47',NULL),(5,1,'REC-260905-382',1,2,NULL,20000.00,'2026-09-05 18:01:56',NULL,'2026-09-05 17:01:56',NULL),(6,1,'REC-260905-150',7,11,NULL,20000.00,'2026-09-05 18:15:04',NULL,'2026-09-05 17:15:04',NULL);
/*!40000 ALTER TABLE `receipts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resident_history`
--

DROP TABLE IF EXISTS `resident_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `resident_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `resident_id` int(11) NOT NULL,
  `flat_id` int(11) DEFAULT NULL,
  `building_id` int(11) DEFAULT NULL,
  `street_id` int(11) DEFAULT NULL,
  `action_type` enum('Moved In','Moved Out','Transferred','Role Changed') NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `reason_for_exit` text DEFAULT NULL,
  `recorded_by` int(11) DEFAULT NULL,
  `timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `resident_id` (`resident_id`),
  KEY `recorded_by` (`recorded_by`),
  KEY `fk_resident_history_estate` (`estate_id`),
  CONSTRAINT `fk_resident_history_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `resident_history_ibfk_1` FOREIGN KEY (`resident_id`) REFERENCES `residents` (`id`) ON DELETE CASCADE,
  CONSTRAINT `resident_history_ibfk_2` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resident_history`
--

LOCK TABLES `resident_history` WRITE;
/*!40000 ALTER TABLE `resident_history` DISABLE KEYS */;
INSERT INTO `resident_history` VALUES (2,6,3,1,1,'Moved In','2026-09-02',NULL,'Initial move-in',1,'2026-09-02 19:55:59',1);
/*!40000 ALTER TABLE `resident_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resident_relationships`
--

DROP TABLE IF EXISTS `resident_relationships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `resident_relationships` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=97 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resident_relationships`
--

LOCK TABLES `resident_relationships` WRITE;
/*!40000 ALTER TABLE `resident_relationships` DISABLE KEYS */;
INSERT INTO `resident_relationships` VALUES (3,'Child'),(6,'Grandparent'),(8,'Other'),(4,'Parent'),(1,'Self (Head)'),(5,'Sibling'),(2,'Spouse'),(7,'Staff');
/*!40000 ALTER TABLE `resident_relationships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resident_statuses`
--

DROP TABLE IF EXISTS `resident_statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `resident_statuses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resident_statuses`
--

LOCK TABLES `resident_statuses` WRITE;
/*!40000 ALTER TABLE `resident_statuses` DISABLE KEYS */;
INSERT INTO `resident_statuses` VALUES (1,'Active'),(4,'Archived'),(2,'Moved Out'),(3,'Temporary');
/*!40000 ALTER TABLE `resident_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `residents`
--

DROP TABLE IF EXISTS `residents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `residents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `flat_id` int(11) NOT NULL,
  `type` enum('head','dependent') DEFAULT 'head',
  `relationship` varchar(50) DEFAULT 'self',
  `lease_start` date DEFAULT NULL,
  `lease_end` date DEFAULT NULL,
  `status` enum('active','moved_out') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `custom_id` varchar(50) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `registration_date` date DEFAULT NULL,
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_id` (`custom_id`),
  KEY `user_id` (`user_id`),
  KEY `flat_id` (`flat_id`),
  KEY `fk_residents_estate` (`estate_id`),
  CONSTRAINT `fk_residents_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `residents_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `residents_ibfk_2` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `residents`
--

LOCK TABLES `residents` WRITE;
/*!40000 ALTER TABLE `residents` DISABLE KEYS */;
INSERT INTO `residents` VALUES (1,2,1,'head','self',NULL,NULL,'active','2026-03-30 11:36:28','RES-00002',NULL,NULL,1),(2,3,1,'head','self',NULL,NULL,'active','2026-03-30 11:36:28','RES-00003',NULL,NULL,1),(3,4,1,'head','self',NULL,NULL,'active','2026-03-30 11:36:28','RES-00004',NULL,NULL,1),(6,11,3,'head','Self',NULL,NULL,'active','2026-09-02 19:55:59','RES-00005','../uploads/1788378959_WhatsApp Image 2024-02-24 at 19.10.40_d11831a7.jpg','2026-09-02',1);
/*!40000 ALTER TABLE `residents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_permissions` (
  `role_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`role_id`,`permission_id`),
  KEY `permission_id` (`permission_id`),
  CONSTRAINT `role_permissions_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_permissions_ibfk_2` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
INSERT INTO `role_permissions` VALUES (2,1),(2,2),(2,3),(2,4),(2,5),(2,6),(2,7),(2,8),(2,9),(2,10),(2,11),(2,12),(2,13),(2,14),(2,15),(2,16),(2,46),(2,48),(2,49),(2,50),(5,12),(5,13),(5,46),(5,48),(7,48),(7,49),(7,50);
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `estate_id` int(11) DEFAULT 1,
  `name` varchar(100) NOT NULL,
  `slug` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  `is_system` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_roles_estate` (`estate_id`),
  CONSTRAINT `fk_roles_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_details`
--

DROP TABLE IF EXISTS `staff_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff_details` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `position` varchar(100) DEFAULT NULL,
  `salary` decimal(10,2) DEFAULT NULL,
  `hire_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `fk_staff_details_estate` (`estate_id`),
  CONSTRAINT `fk_staff_details_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `staff_details_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_details`
--

LOCK TABLES `staff_details` WRITE;
/*!40000 ALTER TABLE `staff_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `streets`
--

DROP TABLE IF EXISTS `streets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `streets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('active','archived') DEFAULT 'active',
  `custom_id` varchar(50) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `registration_date` date DEFAULT NULL,
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_id` (`custom_id`),
  KEY `fk_streets_estate` (`estate_id`),
  CONSTRAINT `fk_streets_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `streets`
--

LOCK TABLES `streets` WRITE;
/*!40000 ALTER TABLE `streets` DISABLE KEYS */;
INSERT INTO `streets` VALUES (1,'Palm Avenue',NULL,'2026-03-30 11:29:38','active','STR-00001',NULL,NULL,1),(2,'Orchid Road',NULL,'2026-03-30 11:29:38','active','STR-00002',NULL,NULL,1),(3,'Hibiscus Lane',NULL,'2026-03-30 11:29:38','active','STR-00003',NULL,NULL,1);
/*!40000 ALTER TABLE `streets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_settings` (
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `estate_id` int(11) NOT NULL DEFAULT 1,
  PRIMARY KEY (`estate_id`,`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenancies`
--

DROP TABLE IF EXISTS `tenancies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tenancies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `estate_id` int(11) DEFAULT 1,
  `resident_id` int(11) NOT NULL,
  `property_id` int(11) DEFAULT NULL,
  `flat_id` int(11) DEFAULT NULL,
  `landlord_id` int(11) DEFAULT NULL,
  `enrollment_date` date DEFAULT NULL,
  `move_in_date` date DEFAULT NULL,
  `expected_move_out_date` date DEFAULT NULL,
  `move_out_date` date DEFAULT NULL,
  `status` enum('Active','Ended','Suspended') DEFAULT 'Active',
  `termination_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `resident_id` (`resident_id`),
  KEY `fk_tenancies_estate` (`estate_id`),
  CONSTRAINT `fk_tenancies_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tenancies_ibfk_1` FOREIGN KEY (`resident_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenancies`
--

LOCK TABLES `tenancies` WRITE;
/*!40000 ALTER TABLE `tenancies` DISABLE KEYS */;
INSERT INTO `tenancies` VALUES (2,1,11,NULL,3,NULL,NULL,'2026-09-02',NULL,NULL,'Active',NULL,'2026-09-02 19:55:59','2026-09-02 19:55:59');
/*!40000 ALTER TABLE `tenancies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL DEFAULT 'staff',
  `phone` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_users_estate` (`estate_id`),
  CONSTRAINT `fk_users_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vehicles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `flat_id` int(11) NOT NULL,
  `type` enum('car','motorcycle','truck','other') DEFAULT 'car',
  `reg_number` varchar(50) NOT NULL,
  `model` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `custom_id` varchar(50) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `registration_date` date DEFAULT NULL,
  `estate_id` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_id` (`custom_id`),
  KEY `flat_id` (`flat_id`),
  KEY `fk_vehicles_estate` (`estate_id`),
  CONSTRAINT `fk_vehicles_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `vehicles_ibfk_1` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles`
--

LOCK TABLES `vehicles` WRITE;
/*!40000 ALTER TABLE `vehicles` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visitors`
--

DROP TABLE IF EXISTS `visitors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `visitors` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `flat_id` int(11) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `check_in_time` datetime DEFAULT current_timestamp(),
  `check_out_time` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `estate_id` int(11) DEFAULT 1,
  `resident_id` int(11) DEFAULT NULL,
  `visitor_code` varchar(20) DEFAULT NULL,
  `purpose` varchar(150) DEFAULT NULL,
  `status` enum('pre_registered','entered','confirmed','checked_out','exited_without_confirmation','cancelled') DEFAULT 'pre_registered',
  `expected_arrival` datetime DEFAULT NULL,
  `entry_time` datetime DEFAULT NULL,
  `resident_confirmed_at` datetime DEFAULT NULL,
  `exit_time` datetime DEFAULT NULL,
  `exit_reason` varchar(255) DEFAULT NULL,
  `entry_gate` varchar(100) DEFAULT 'Main Gate',
  `exit_gate` varchar(100) DEFAULT 'Main Gate',
  `entry_processed_by` int(11) DEFAULT NULL,
  `exit_processed_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `flat_id` (`flat_id`),
  KEY `fk_visitors_estate` (`estate_id`),
  CONSTRAINT `fk_visitors_estate` FOREIGN KEY (`estate_id`) REFERENCES `estates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `visitors_ibfk_1` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visitors`
--

LOCK TABLES `visitors` WRITE;
/*!40000 ALTER TABLE `visitors` DISABLE KEYS */;
/*!40000 ALTER TABLE `visitors` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-05 20:58:43
